PORT=8000
MONGO_URI=mongodb+srv://SameerN:sameer123@cluster0.sxrf4dm.mongodb.net
CORS_ORIGIN=* //request from anywhere accepted


ACCESS_TOKEN_SECRET= Gvkljgnbqeurtyiqwnoiyioyvyb4642659n
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=ijhnrttveoiu53yvypyp43yv838985690bn
REFRESH_TOKEN_EXPIRY=10d



